{
    "id": "C0000",
    "ref": "capability:identify:template",
    "author": "n3tsurge",
    "created_on": "2025-06-03",
    "description": "This is a template for capabilities that can be used to define specific actions or processes within a phase. It serves as a starting point for creating detailed capability specifications.",
    "documentation": {
        "enrichment": [],
        "hunting": [],
        "fields": [],
        "automation": []
    },
    "category": "general",
    "friendly_name": "template",
    "title": "Template",
    "unique_id": "00000000-0000-0000-0000-000000000000",
    "phase": "P0000",
    "phase_friendly_name": "template-phase",
    "stakeholders": [
    ],
    "actors": [
    ],
    "frameworks": {
    },
    "references": [
        {
            "type": "website",
            "url": "https://example.com/template-documentation"
        }
    ]
}